<!--component html goes here -->
<page-header [title]="title"></page-header>
<form nz-form #validateForm="ngForm" (ngSubmit)="save()">
    <nz-tabset>
        <nz-tab [nzTitle]="l('UserDetails')">
            <!-- 标题 -->
            <nz-form-item>
                <nz-form-control nzHasFeedback>
                    <input nz-input name="userName" #userName="ngModel" [(ngModel)]="news.title" [placeholder]="'标题'"
                        required>
                    <nz-form-explain *ngIf="userName.control.dirty&&userName.control.errors">
                        <ng-container *ngIf="userName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <!-- 作者 -->
            <nz-form-item>
                <nz-form-control nzHasFeedback>
                    <input nz-input name="author" #name="ngModel" [(ngModel)]="news.author" [placeholder]="'作者'"
                        autocomplete="author" required>
                    <nz-form-explain *ngIf="name.control.dirty&&name.control.errors">
                        <ng-container *ngIf="name.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <!-- 类型 -->
            <nz-form-item>
                <nz-form-control nzHasFeedback>
                    <input nz-input name="emailAddress" #emailAddress="ngModel" [(ngModel)]="news.emailAddress"
                        [placeholder]="l('EmailAddress')" autocomplete="email" required email>
                    <nz-form-explain *ngIf="emailAddress.control.dirty&&emailAddress.control.errors">
                        <ng-container *ngIf="emailAddress.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                        <ng-container *ngIf="emailAddress.control.hasError('email')">邮箱格式不对</ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <!-- 激活 -->
            <nz-form-item>
                <label nz-checkbox name="isActive" [(ngModel)]="news.isActive">{{l('IsActive')}}</label>
            </nz-form-item>
        </nz-tab>


        <nz-tab [nzTitle]="l('UserRoles')">
            <nz-checkbox-group name="roles" [(ngModel)]="roleList"></nz-checkbox-group>
        </nz-tab>

    </nz-tabset>


    <!-- 功能按钮 -->
    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
            保存
        </button>
        <button nz-button [nzType]="'primary'" type="button">
            返回
        </button>
    </div>

</form>