<Page [ngClass]="'list'" [title]="'扫码兑换'" [showTitle]="false" [spacing]="false">
    <div class="weui-cells" *ngIf="shop" style="margin-top: 0px;">
        <div class="weui-cell" style=" padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="./assets/images/swiper-1.png" style="width:100%;">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>店铺名称</p>
            </div>
            <div class="weui-cell__ft">{{shop.name}}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>店铺地址</p>
            </div>
            <div class="weui-cell__ft">{{shop.address}}</div>
        </div>
    </div>

    <div class="weui-cells__title">商品兑换</div>
    <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" (click)="setOrderBarCode('ed09f7b3-8bd3-421b-ad6d-46d17672cbf1')">扫一扫</button>
    </div>
    <div *ngIf="orderBarCode" class="weui-cells__title">订单列表</div>
    <div *ngIf="orderBarCode" class="weui-cells">
        <div class="weui-cell" *ngFor="let o of orderDetailList">
            <div class="weui-cell__bd">
                <p>{{o.specification}}</p>
                <div style="color:#999999;font-size:12px;">
                    <div style="float:left;">
                        <!-- <p>数量:{{o.num}} {{o.unit}}</p> -->
                        <label for="male">Male</label>
                    </div>
                    <div style="color:green; float:right;border-width:1px; border-style:solid;border-radius:3px;margin-left:10px;padding: 2px;">
                        <p>兑换状态:{{o.statusName}}</p>
                    </div>
                </div>
                <!-- <p style="color:#999999;font-size:12px;">数量:{{o.num}} {{o.unit}}丨 兑换状态:{{o.statusName}}</p> -->
            </div>
        </div>
        <weui-loadmore type="line" *ngIf="!orderDetailList || orderDetailList.length == 0"></weui-loadmore>
    </div>
    <div *ngIf="orderBarCode" class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" [disabled]="!orderDetailList || orderDetailList.length == 0" (click)="onShowBySrv()" [ngClass]="{'weui-btn_disabled': !orderDetailList || orderDetailList == 0}">确定兑换</button>
    </div>
    <weui-dialog #delconfirm [config]="config"></weui-dialog>
</Page>