<Page [ngClass]="'list'" [title]="'扫码兑换'" [showTitle]="false" [spacing]="false">
    <div class="weui-cells" *ngIf="shop" style="margin-top: 0px;">
        <div class="weui-cell" style=" padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="./assets/images/scan-exchange.png" style="width:100%;">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>店铺名称</p>
            </div>
            <div class="weui-cell__ft">{{shop.name}}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>店铺地址</p>
            </div>
            <div class="weui-cell__ft">{{shop.address}}</div>
        </div>
    </div>
    <div class="weui-cells__title"></div>
    <div class="weui-cell" style="background-color:white">
        <div class="weui-cell__bd">
            <input disabled="disabled" class="weui-input" type="text" [(ngModel)]="order.number" name="number"
                placeholder="兑换码扫一扫">
        </div>
        <!-- <a class="weui-cell__ft weui-cell_access" (click)="setOrderBarCode('http://localhost:21021/Wechat/Authorization?page=103&param=AdJOOJa7ddEHhI5bh+LwWipv7HuPrFpM2FX4WH6BC+8QHzPi2UD4ydrofTM1Ud4m7OdAfUNir/w5FFy21UekRuYSsmL6rdRA+9rtsn0vQqXL8VvqDsCTASY6IFR9Oav+LdF4OP5wDYvKoBYKaQ/pHvMa7Ch8+/nlDoqToEKsOEkwhlGqmMHrfEhw06z3F4c23vHDYlCX8Fy1XaAhW61uAEMhtUgQNtCpa3ZgrB0obrFxi/Ce7DXO3W2lqFqlkvVhU9E6fNIDqDlWUy3+3ieiEakFTckCRQkYrPWZDzoY9U7OMYqa+kbNno+kOj3R41evRtdYuU1Rjw5I7dw/knRz+A==')"> -->
        <a class="weui-cell__ft weui-cell_access" (click)="scanBarCode()">
            <!-- <a class="weui-cell__ft weui-cell_access" (click)="setOrderBarCode('avQHbenEAoy9y2kg7c0jPti/02G1JT6FAwFGj6wfN4f9fRxe6SOeQqb19mQtDkizggNoz9vDuORovmuvszaRcakvaMeUEVw20nw/HO8Ug/7823EqDJPIHp2jpBL1tomY7HVlN80gQ9wsyiBP/t9Ym3IuofmTenqEjElQSfbXREAg+3XsPPy5saAnZuizqUjXPftHjzM1pfJLU03eiZZIpZQ6jWUtBzeKjpG1QuLL3no41/JfVLzcreIbtd7BUr2RQuOLxnMP0zMtdNkB+4qu3n0iGy1mGir2tEDEBKMaQ/B2HnOcAKGT8MJqk8i+OiQ3i3Uub1pPXYeUHs0OBhipLA==')"> -->
            <img class="weui-icon-h18" src="./assets/images/scan-o-2.png" alt="">
        </a>
    </div>
    <!-- <button class="weui-btn weui-btn_primary" (click)="scanBarCode()">扫一扫</button> -->
    <!-- <button class="weui-btn weui-btn_primary" (click)="setOrderBarCode('7AD7FEA6-8B4A-428D-A6AC-1CBCB39F5120')">扫一扫</button> -->
    <div *ngIf="orderBarCode" class="weui-cells__title">
        <div style="padding:0px;">
            <div class="weui-flex__item" style="float:left;">
                <p>订单号：{{order.number}}</p>
            </div>
            <div class="weui-flex__item" style="float:right;font-size: 12px;">
                <p style="color:gray;border-width:1px; border-style:solid;border-radius:3px;margin-left:10px;padding: 2px;">{{order.statusName}}</p>
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <div class="weui-flex" style="padding:0px;">
        </div>
    </div>

    <div *ngIf="orderBarCode" class="weui-cells">
        <div class="weui-cell" *ngFor="let o of orderDetailList">
            <div class="weui-cell__bd">
                <p>{{o.specification}}</p>
                <div style="color:#999999;font-size:12px;">
                    <div style="float:left;">
                        <div style="float:left;font-size: 14px;">
                            <p>数量:</p>
                        </div>
                        <div style="float:right;font-weight:bold">
                            <p style="font-size: 14px;">{{o.num}} {{o.unit}}</p>
                        </div>
                    </div>
                    <div style="float:right;">
                        <div style="float:left;font-size: 14px;">
                            <p>兑换状态:</p>
                        </div>
                        <div style="color:rgb(233,80,152); float:right;border-width:1px; border-style:solid;border-radius:3px;margin-left:10px;padding: 2px;">
                            <p>{{o.statusName}}</p>
                        </div>
                    </div>
                </div>
                <!-- <p style="color:#999999;font-size:12px;">数量:{{o.num}} {{o.unit}}丨 兑换状态:{{o.statusName}}</p> -->
            </div>
        </div>
        <weui-loadmore type="line" *ngIf="!orderDetailList || orderDetailList.length == 0"></weui-loadmore>
    </div>
    <div *ngIf="orderBarCode" class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" [disabled]="!orderDetailList || orderDetailList.length == 0" (click)="onShowBySrv()"
            [ngClass]="{'weui-btn_disabled': !orderDetailList || orderDetailList == 0}">确定兑换</button>
    </div>
    <weui-dialog #delconfirm [config]="config"></weui-dialog>
</Page>